@font-face {
  font-family: "iconfont"; /* Project id 3186225 */
  src: url('iconfont.woff2?t=1644990079142') format('woff2'),
       url('iconfont.woff?t=1644990079142') format('woff'),
       url('iconfont.ttf?t=1644990079142') format('truetype'),
       url('iconfont.svg?t=1644990079142#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-ai-password:before {
  content: "\e63e";
}

.icon-qian:before {
  content: "\e67c";
}

.icon-kuangzhonggou:before {
  content: "\e666";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-dianpu-xianxing:before {
  content: "\e90e";
}

.icon-taocan-suoxiao:before {
  content: "\e8cd";
}

.icon-shangpin-:before {
  content: "\e605";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-xiaoren:before {
  content: "\e65a";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e789";
}

.icon-renminbi:before {
  content: "\e621";
}

.icon-dingdan:before {
  content: "\e606";
}

.icon-yanjing-biyan:before {
  content: "\e63a";
}

.icon-dingdan1:before {
  content: "\e98d";
}

.icon-zhengkaiyanjing4:before {
  content: "\e649";
}

.icon-i_5xiaoshoutongji:before {
  content: "\e654";
}

.icon-zongdingdan:before {
  content: "\e603";
}

.icon-zhanghao:before {
  content: "\e614";
}

